{% extends "./base.html" %}

<title>{% block title %}Copa Renault{% endblock %}</title>

{% block body %}
<h1>Bienvenidos a la Copa Renault</h1>
<p>La Copa Renault es el evento deportivo anual más esperado en nuestro colegio. Este torneo fomenta el espíritu de competencia sana, el trabajo en equipo y la pasión por el deporte entre nuestros estudiantes.</p>

<p>A lo largo del evento, los estudiantes participarán en una variedad de disciplinas deportivas, incluyendo fútbol, baloncesto, y atletismo. Invitamos a todos los miembros de la comunidad escolar a apoyar a nuestros jóvenes atletas y a disfrutar de las actividades que hemos preparado.</p>
{% endblock %}
