
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<h2>Login</h2>
<form method="post" action="{{ url_for('login') }}"><link>
    <div class="form-group">
        <label for="nombres">nombre:</label>
        <input type="text" id="nombres" name="nombres" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>

    <div>
     <label>si no tienens una cuenta crea una ahora!</label>
     <a class="nav-link" href="{{ url_for('sign_in') }}">sign in</a> #habria que ponerlo lindoo
    </div>
</form>
{% endblock %}
